.site-footer {
    background-image: gray;
    padding: 20px 0; }

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: gray;
    color: white; }

.navbar {
    background-color: gray; }        